#header {
height:150px;
<<<<<<< HEAD
background: #D0C295;
}
.logo{
float:left;
margin-left:80px;
margin-top: 30px;
=======
background: url(../img/koga16.jpg);
}
.logo{
float:left;
padding:10px;
>>>>>>> bd5b264d1efd8ae291280e47ef416041f829e529
height:100px;
width:100px;}

#header h1{
float:right;
<<<<<<< HEAD
margin-top:50px;
margin-right: 100px;
font-size: 44px;
text-shadow: #f30 0  2px;
}

body{
background: url(../img/geluzor75.jpg);
padding:0;
margin:0;
}

ul li{
	list-style:none;
	margin: 0;
	padding: 0;
}

/* form{margin-left: 100px;
	width: 300px;
	height: 600px;
} */

.registr a {margin-right: 100px;
	width: 200px;
	float: right;
}

.avtor a {margin-top: 50px;
	margin-right: 100px;
	width: 200px;
	float: right;
	
=======
padding:10px;
margin:0;}

body{
background: url(../img/koga11.jpg);
padding:0;
margin:0;}

.registr{
width: 200px;
float:right;
margin-right:100px;
}

.avtor{
width: 200px;
margin-left:100px;
>>>>>>> bd5b264d1efd8ae291280e47ef416041f829e529
}

.vih{
width: 200px;
float:right;
margin-right:100px;
}

.cob{
width: 200px;
float:right;
margin-right:100px;
}

<<<<<<< HEAD
.new{
width: 200px;
float:right;
margin-right:100px;
}

=======
<<<<<<< HEAD
=======
.new{
width: 200px;
margin-left: 360px;
}

>>>>>>> bd5b264d1efd8ae291280e47ef416041f829e529
>>>>>>> 4d866e3013f605ade40a136b964915fc8539c4d7
.textt{
color:blue;
text-align:center;
}

<<<<<<< HEAD
.menu{
	height: 33px;
	background: #333;
	font-style: Arial;
	font-size: 16px;

}

.menu li{
	float: left;
	position: relative;
}

.menu ul li{
	float: none;
}

.menu a{
	display: block;
	color: #f30;
	text-decoration: none;
	text-align: center;
	text-transform: none;
	white-space: nowrap;
	padding: 5px 25px 5px 25px;
}

.menu ul{
	position: absolute;
	display: none;
	background: #333;
	border:1px #f30 solid;
}

.menu li:hover{
	background-color: #fc9;
	background: #F4A9AE;
}

.menu li:hover ul li ul{
	top:-1px;
	left: 100%;
	display: none;
}

.menu li:hover ul, .menu li:hover ul li:hover ul{
	display: block;
}

.content h2{
color:#f30;
text-align:center;
}

.menu_two ul li{
	float: none;
}

.menu_two a{
	display: block;
}

.menu_two ul a{
	width: 200px;
}

.menu_two ul{
	position: relative;
	display: none;
}

.menu_two li:hover ul{
	display: block;
}

.menu_two li:hover ul a{
	color:#fff;background-color:#5cb85c;border-color:#4cae4c;
}

.menu_two li:hover a, .menu_two li ul a:hover{
	color:#fff;background-color:#449d44;border-color:#398439;
}

.col-md-6 {
	border: 1px solid blue;
}

.col-md-6 div{
	text-align: center;
	font-size: 22px;
	/* color: black; */
}

.col-md-6 p{
	font-size: 16px;
	color: black;
	text-align: justify;

}

.col-md-6 ul {
	color: black;
	list-style-type:circle;
	list-style-position: inside;
}

.table{
margin-top:30px;
border-color: black;
}


=======
.table{
margin-top:30px;
}

.topmenu{
display:-moz-box;
display:flex;
padding:10px;
wider:100%;
margin:0 auto;
}
.topmenu a {
-moz-box-flex:1;
flex:1;
display:block;
font-size:20px;
color:green;
text-decoration:none;
text-align:center;
padding:10px 0;
background:#A3F5D9;
border-right:1px solid yellow;
}


.topmenu a:hover{
background:#A12691;
color:#95A4E4;
}

.content h2{
color:#CDD57C;
text-align:center;
}

>>>>>>> bd5b264d1efd8ae291280e47ef416041f829e529
#footer{
padding: 40px auto;
background:#F2F11C;
text-align:center;
}
<<<<<<< HEAD

#footer p{
	text-align: center;
}


=======
#footer a{
color:#EA8176;
}
>>>>>>> bd5b264d1efd8ae291280e47ef416041f829e529
